<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 将静态工厂创建的实例交予spring 
		class 确定静态工厂全限定类名
		factory-method 确定静态类方法名
	-->
	<!-- 创建工厂实例 -->
	<bean id = "myBeanFactoryId" class = "com.itheima.c_inject.c_factory.MyBeanFactory"></bean>
	<!-- 通过工厂调用方法userService 
		* factory-bean 确定工厂实例
		* factory-method 确定普通方法
	-->
	<bean id = "userServiceId" factory-bean = "myBeanFactoryId" factory-method = "createService"></bean>

</beans>